@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../foonts/MuseoSansCyrl-700.eot");
  src: local("../foonts/MuseoSansCyrl-700"), url("../foonts/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../foonts/MuseoSansCyrl-700.woff") format("woff"), url("../foonts/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Museo Sans Reg';
  src: url("../foonts/MuseoSansCyrl-300.eot");
  src: local("../foonts/MuseoSansCyrl-300"), url("../foonts/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../foonts/MuseoSansCyrl-300.woff") format("woff"), url("../foonts/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
* {
  box-sizing: border-box; }

body {
  font-family: 'Museo Sans Reg', sans-serif;
  font-weight: 300; }

img {
  max-width: 100%; }

.container {
  width: 1170px;
  margin: 0 auto; }

@media (max-width: 1200px) {
  .container {
    width: 760px; } }
@media (max-width: 768px) {
  .container {
    max-width: 580px;
    width: 90%; } }
.section {
  padding: 90px 0; }
  .section-title {
    font-family: 'Museo Sans Bold', sans-serif;
    font-weight: 700;
    font-size: 24px; }
  .section-subtitle {
    display: block;
    font-size: 16px; }

.button {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  font-size: 13px;
  padding: 18px 30px; }
  .button:hover {
    background-color: #ffdb33;
    cursor: pointer; }

.input {
  width: 240px;
  border-radius: 10px;
  border: 1px solid #dddddd;
  padding: 15px 20px; }

.navbar {
  padding: 8px 0; }
  .navbar-block {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .navbar__info {
    display: flex;
    align-items: center;
    text-align: right; }
  .navbar__contacts {
    margin-top: 4px; }
  .navbar__address {
    display: flex;
    flex-direction: column;
    font-size: 13px; }
  .navbar__phone {
    color: #333333;
    font-size: 20px;
    font-family: 'Museo Sans Bold', sans-serif;
    font-weight: 700;
    text-decoration: none;
    margin-top: 7px;
    display: inline-block; }
  .navbar__button {
    margin-left: 30px; }

@media (max-width: 768px) {
  .navbar__contacts {
    display: none; }
  .navbar__button {
    font-size: 12px;
    padding: 15px 26px; }
  .navbar__logo {
    width: 90px; } }
.hero {
  background-color: #f5f5f5;
  padding: 50px 0; }
  .hero-block {
    display: flex; }
  .hero-image img {
    max-width: 106%; }
  .hero-text {
    flex-basis: 50%;
    padding-right: 56px; }
    .hero-text__title {
      font-family: 'Museo Sans Bold', sans-serif;
      font-weight: 700;
      font-size: 41px;
      font-weight: 700;
      line-height: 55px;
      margin-bottom: 37px; }
    .hero-text__subtitle {
      display: inline-block;
      font-family: 'Museo Sans Bold', sans-serif;
      font-weight: 700;
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 65px; }
  .hero-list {
    list-style: none;
    margin: 0;
    padding: 0; }
    .hero-list__item {
      display: flex;
      align-items: center;
      margin-bottom: 25px; }
    .hero-list__text {
      max-width: 240px;
      font-family: 'Museo Sans Reg', sans-serif;
      font-weight: 300;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px; }
    .hero-list__image {
      width: 37px;
      height: 37px;
      border: 2px solid #ffd200;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 30px; }

@media (max-width: 1200px) {
  .hero-block {
    flex-direction: column; }
  .hero-list {
    margin-bottom: 40px; }
  .hero-text {
    padding-right: 10px; } }
@media (max-width: 768px) {
  .hero-text__title {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 15px; }
  .hero-text__subtitle {
    font-size: 16px;
    margin-bottom: 28px; }
  .hero-list {
    margin-bottom: 20px; }
    .hero-list__text {
      font-size: 12px; } }
.offer {
  background: #fff url(../img/offer-bg.jpg) center right no-repeat;
  background-size: contain;
  position: relative; }
  .offer:before {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white; }
  .offer__title {
    width: 350px;
    line-height: 35px; }
  .offer__subtitle {
    width: 240px;
    margin-bottom: 30px; }
  .offer-form {
    padding-right: 90px; }
  .offer-block {
    width: 50%;
    position: relative; }
    .offer-block__button {
      width: 100%;
      min-height: 70px; }
    .offer-block__input {
      margin-bottom: 30px;
      width: 240px; }
      .offer-block__input:first-child {
        margin-right: 10px; }
  .offer-trigger {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    font-size: 15px; }
    .offer-trigger__text {
      max-width: 234px; }
    .offer-trigger__phone {
      max-width: 200px; }
      .offer-trigger__phone .number {
        font-size: 16px; }

@media (max-width: 1200px) {
  .offer {
    background-size: cover; }
    .offer-block__input {
      width: 100%;
      margin-bottom: 10px; }
    .offer-block__button {
      font-size: 12px; }
    .offer-trigger {
      flex-direction: column; }
      .offer-trigger__phone {
        margin-top: 20px; } }
@media (max-width: 768px) {
  .offer {
    background: #fff; }
    .offer-form {
      padding-right: 0; }
    .offer-block {
      width: 100%;
      padding-right: 0; } }

/*# sourceMappingURL=style.css.map */
